<div class="form-additional mt-2 pt-1">
    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="{{ path('connect_google_start') }}" class="btn btn-link btn-dark">
                {{ 'login_social_network.google'|trans }}
            </a>
        </div>
    </div>
</div>