<div class="form-additional mt-2 pt-1">
    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="{{ path('connect_google_start') }}" class="btn btn-link btn-dark">
                Login with Google
            </a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 text-center">
            <a href="{{ path('connect_facebook_start') }}" class="btn btn-link btn-dark">
                Login with Facebook
            </a>
        </div>
    </div>
</div>