{% for category in nav_categories %}
    <li class="menu-item {% if category.title|lower == isActiveItemMenu %}active{% endif %}">
        <a href="{{ category.url }}">
            <div>{{ category.title }}</div>
        </a>
    </li>
{% endfor %}
