<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}Admin Panel - RankedChoice{% endblock %}</title>
    <meta name="keywords" content="{% block page_keywords %}clothes, jackets, jeans{% endblock %}">
    <meta name="description" content="{% block page_description %}clothes, jackets, jeans{% endblock %}">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/icons/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('build/css/section-admin.728a21a0.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

{% block layout_body %}{% endblock %}

<script src="{{ asset('build/js/section-admin.e07769c5.js') }}"></script>
</html>