<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin_dashboard_show') }}">
        <div class="sidebar-brand-text mx-3">Admin panel</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_dashboard_show') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Sales
    </div>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Products
    </div>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        General
    </div>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
