{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <div class="row"></div>

    </div>
{% endblock %}
