<div class="d-flex justify-content-between align-items-center">
    <h6 class="m-0 font-weight-bold text-primary">{{ sectionTitle }}</h6>
    <a href="{{ actionUrl }}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
        <i class="fas fa-plus fa-sm text-white-50"></i> Add new
    </a>
</div>