<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}RankedChoice - Shop Of Best Clothes{% endblock %}</title>
    <meta name="keywords" content="{% block page_keywords %}clothes, jackets, jeans{% endblock %}">
    <meta name="description" content="{% block page_description %}clothes, jackets, jeans{% endblock %}">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/icons/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('build/css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="page-wrapper">
    {% include 'front/_embed/_header.html.twig' %}

    <main class="main">
        {% include 'front/_embed/_utils/_flash_message.html.twig' %}
        {% block body %}{% endblock %}
    </main>

    {% include 'front/_embed/_footer.html.twig' %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
